{% extends 'base.html.twig' %}

{% block title %}{{ 'app.edit'|trans({}, 'messages') }}{% endblock %}

{% block body %}
    <h1>  {{ 'app.edit'| trans }}</h1>

    {{ include('hotel/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary" href="{{ path('app_hotel_index') }}">{{ 'app.back'| trans }}</a>

    {{ include('hotel/_delete_form.html.twig') }}
{% endblock %}
