{% extends 'base.html.twig' %}

{% block title %}{{ 'app.title'| trans }}{% endblock %}

{% block body %}
    <h1>{{ 'app.createNew'| trans }}</h1>

    {{ include('hotel/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('app_hotel_index') }}">{{ 'app.back'| trans }}</a>
{% endblock %}